#mainfont {

    font-family: 'Rubik', sans-serif;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;


}

.form-group{

    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

#search {
    font-size: 25px;
    /* width: 50%; */
    /* border-bottom: none; */
    /* outline: none; */
    border-bottom: none!important;
    box-shadow: none!important;
}

